
module app.templates

template#app-topnav
	.row.border-bottom.white-bg
		.col-sm-3
			h1 Test.


template#app-footer

template#app-menu
	ul.nav#side-menu
		li: a(ui-sref='timesheet' ui-sref-active='active')
			i.fa.fa-th-list
			span.nav-label Timesheet
			span.label.label-warning.pull-right 23/48
		li: a(ui-sref='staffing')
			i.fa.fa-calendar
			span.nav-label Staffing
			span.label.label-info.pull-right 4
		li: a(ui-sref='projets')
			i.fa.fa-bank
			span.nav-label Projets

template#app-index
	h1 Intranet Salesway
	p Salut !