
module app.templates

template#app-topnav
	.row.border-bottom.white-bg

template#app-footer

template#app-menu
	ul.nav#side-menu
		//- Header sympa avec petit gravatar.
		li.nav-header
			.dropdown.profile-element
				span
					img.avatar(src='http://www.gravatar.com/avatar/deafc512dd0c1c22006665bcea88f15b?s=60')
				a.dropdown-toggle(href='javascript://')
					span.clear
						span.block.m-t-xs
							b Christophe Eymard
						span.text-muted.text-xs.block CEY

		//- Le menu commence réellement ici
		li(ui-sref-active='active'): a(ui-sref='index')
			i.fa.fa-th-large
			span.nav-label Dashboard
		//- Le menu commence réellement ici
		li(ui-sref-active='active'): a(ui-sref='timesheet')
			i.fa.fa-th-list
			span.nav-label Timesheet
			span.pull-right.label.label-info NEW
		li(ui-sref-active='active'): a(ui-sref='staffing')
			i.fa.fa-calendar
			span.nav-label Staffing
		li(ui-sref-active='active'): a(ui-sref='projets')
			i.fa.fa-bank
			span.nav-label Projets

template#app-index
	h1 Intranet Salesway
	p Salut !