
module app.timesheet.templates

template#app-timesheet-index
	.row
		.col-lg-12
			.ibox.float-e-margins
				.ibox-title
					h5
						| Timesheet &ndash;&nbsp;
						small Semaine du <em>20 octobre 2014</em> au <em>26 octobre 2014</em>
				.ibox-content
					.row
						.col-lg-8
							table.table.table-striped.table-bordered
								thead
									tr
										th Jour
										th Matin
										th Après-Midi
										th Nocturne
								tbody
									tr(ng-repeat='day in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]')
										td {{day}}
										td
										td
										td
					.row
						.col-lg-12
							p.
								Les nocturnes sont à remplir au feeling. ;)
