
module app.timesheet.templates

template#app-timesheet-index
	.row.border-bottom.white-bg
		.col-sm-3
			h1 Hey !
			p This is the timesheet.
		.col-sm-6
			.ibox.float-e-margins
				.ibox-title
					h5
						| Timesheet &ndash;&nbsp;
						small Merci de la remplir !
				.ibox-content
					h1 Yeash !
